.list-group-item{
  width: 450px;
}
.row{
  width: 1300px;
}
.btn{
  font-size: 12px;
}
.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}
