<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>OrdersList</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="orderslist.component.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">M</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLinkActive="orders">Orders<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/admin/users">Users</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <a class="btn btn-outline-success my-2 my-sm-0" type="submit" href="#">Logout</a>
        </form>
      </div>
    </nav>
  </header>
  <mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
      <div *ngIf="tile.text === 'Selected orders description'; else elseBlock1">
        <div>
          <h2>Valami csomag <button type="button" class="btn btn-danger">Delete</button></h2>
          <form>
            <div class="row justify-content-between">
              <small>Transporter: mintapeter353</small>
              <small>Customer: mintaberci123</small>
              <small>Status: Waiting for quote</small>
            </div>
            <div class="row d-flex justify-content-between">
              <small>Size: 20 x 10 x 320</small>
              <small>Weight: 20 kg</small>
              <small>Deadline: 2021.11.01</small>
            </div>
            <div class="row d-flex justify-content-between">
              <small>From: A</small>
              <small>To: B</small>
              <small>Price: 20.000 FT</small>
            </div>
          </form>
        </div>
      </div>
      <ng-template #elseBlock1>
        <div *ngIf="tile.text === 'Orders list'; else elseBlock">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action d-flex">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Order one valami csomag</h3>
              </div>
              <small class="text-warning">Status: Waiting for quote</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Order two valami csomag</h3>
              </div>
              <small class="text-warning">Status: Waiting for quote</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Order three valami csomag</h3>
              </div>
              <small class="text-warning">Status: Waiting for quote</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Order four valami csomag</h3>
              </div>
              <small class="text-warning">Status: Waiting for quote</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Order four valami csomag</h3>
              </div>
              <small class="text-warning">Status: Waiting for quote</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Order four valami csomag</h3>
              </div>
              <small class="text-warning">Status: Waiting for quote</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Order four valami csomag</h3>
              </div>
              <small class="text-warning">Status: Waiting for quote</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Order four valami csomag</h3>
              </div>
              <small class="text-warning">Status: Waiting for quote</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Order four valami csomag</h3>
              </div>
              <small class="text-warning">Status: Waiting for quote</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Order four valami csomag</h3>
              </div>
              <small class="text-warning">Status: Waiting for quote</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Order four valami csomag</h3>
              </div>
              <small class="text-warning">Status: Waiting for quote</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Order four valami csomag</h3>
              </div>
              <small class="text-warning">Status: Waiting for quote</small>
            </a>
          </div>
        </div>
        <ng-template #elseBlock>{{tile.text}}</ng-template>
      </ng-template>
    </mat-grid-tile>
  </mat-grid-list>

</body>
<router-outlet></router-outlet>
