<div>
  <div class="center">
    <h1></h1>
  </div>
  <div class="center">
    <h1>Movesy</h1>
  </div>
  <div class="center">
    <h5>Admin</h5>
  </div>
  <div class="mat-action-row">
    <div class="center">
      <figure class="text-center">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput>
        </mat-form-field>
      </figure>
    </div>
  </div>
  <div class="mat-action-row">
    <div class="center">
      <figure class="text-center">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput>
        </mat-form-field>
      </figure>
    </div>
  </div>
  <div class="mat-action-row">
    <div class="center">
        <a mat-raised-button routerLink="/orders" target="_self">Login</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

