<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Login</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="login.component.css" rel="stylesheet">
</head>

<body class="text-center">
<form #login="ngForm" [formGroup]="form" (ngSubmit)="submit(login)" class="form-login">
  <h1 class="h1 mb-1 font-weight-bold">Movesy</h1>
  <h5 class="h5 mb-5 font-weight-normal">Admin</h5>
  <div class="form-group">
    <div class="mb-3">
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" class="form-control" formControlName="username" placeholder="Username" required autofocus>
    </div>
  </div>
  <div class="form-group">
    <div class="mb-3">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required>
    </div>
  </div>
  <div class="form-group">
    <div class="mb-3">
      <button class="btn btn-lg btn-primary btn-block" type="submit" >Log in</button>
    </div>
  </div>
</form>
</body>
<router-outlet></router-outlet>

