.list-group-item{
  width: 460px;
}

.row{
  width: 1300px;
}
.fas{
  padding: 5px 5px 10px 10px;
}
.btn-secondary{
  margin-left: 20px;
}
.fa-star{
  margin-left: 10px;
  color: #fdcc0d;
}
.btn-danger{
  font-size: 12px;
  margin-left: 10px;
}
