<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>UsersList</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="userslist.component.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">M</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/admin/orders">Orders</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="users">Users<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <a class="btn btn-outline-success my-2 my-sm-0" (click)="logout()" type="submit" href="#">Logout</a>
      </form>
    </div>
  </nav>
</header>
<mat-grid-list cols="4" rowHeight="50px">
  <mat-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color">
    <div *ngIf="tile.text === 'User info'; else elseBlock1">
      <div *ngIf="firstClick">
        <h1 class="text-center">{{selectedUser.username}}</h1>
        <h3 class="font-weight-bold text-center">{{selectedUser.role}}</h3>
        <div *ngIf="eUn; else elseBlock2">
          <form>
            <div class="form-group row">
              <label for="inputUn" class="col-sm-1 col-form-label">Username:</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="inputUn" value="{{selectedUser.username}}">
              </div>
            </div>
          </form>
        </div>
          <ng-template #elseBlock2>
            <p class="align-self-start">Username: {{selectedUser.username}} <a type="button" class="fas fa-edit" (click)="editUn()"></a></p>
          </ng-template>
        <div *ngIf="eEm; else elseBlock3">
          <form>
            <div class="form-group row">
              <label for="inputEm" class="col-sm-1 col-form-label">Email:</label>
              <div class="col-sm-4">
                <input type="email" class="form-control" id="inputEm" value="{{selectedUser.email}}">
              </div>
            </div>
          </form>
        </div>
        <ng-template #elseBlock3>
          <p class="align-self-start">Email: {{selectedUser.email}} <a type="button" class="fas fa-edit" (click)="editEm()"></a></p>
        </ng-template>
        <div *ngIf="ePh; else elseBlock4">
          <form>
            <div class="form-group row">
              <label for="inputPh" class="col-sm-1 col-form-label">Phone:</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="inputPh" value="{{selectedUser.telephone}}">
              </div>
            </div>
          </form>
        </div>
        <ng-template #elseBlock4>
          <p class="align-self-start">Phone: {{selectedUser.telephone}} <a type="button" class="fas fa-edit" (click)="editPh()"></a></p>
        </ng-template>
        <div *ngIf="ePw; else elseBlock5">
          <form>
            <div class="form-group row">
              <label for="inputPw" class="col-sm-2 col-form-label">New password:</label>
              <div class="col-sm-2">
                <input type="password" class="form-control" id="inputPw">
              </div>
              <button type="submit" (click)="save()" class="btn btn-secondary">Save</button>
            </div>
          </form>
        </div>
        <ng-template #elseBlock5>
          <div class="row">
            <button type="button" (click)="editPw()" class="btn btn-secondary">Change password</button>
            <button type="submit" (click)="save()" class="btn btn-secondary">Save</button>
          </div>
        </ng-template>
      </div>
    </div>
    <ng-template #elseBlock1>
      <div *ngIf="tile.text === 'Package or Rating'; else elseBlock6">
        <div *ngIf="firstClick">
          <div *ngIf="selectedUser.role.toString() === 'USER'">
            <div class="list-group" *ngFor="let p of uPackages">
              <h2> {{p.name}} <button type="button" (click)="deleteP(p)" class="btn btn-danger">Delete</button> <button type="button" class="btn btn-primary">Save</button></h2>
              <form>
                <div class="form-group row justify-content-between">
                  <label for="transporter" class="col-sm-1 col-form-label small">Transporter:</label>
                  <div class="col-sm-3 small">
                    <input type="text" class="form-control small" id="transporter" value="{{p.transporterID}}">
                  </div>
                  <label for="cos" class="col-sm-1 col-form-label small">Customer:</label>
                  <div class="col-sm-3 small">
                    <input type="text" class="form-control small" id="cos" value="{{p.userID}}">
                  </div>
                  <label for="stat" class="col-sm-1 col-form-label small">Status:</label>
                  <div class="col-sm-3 small">
                    <input type="text" class="form-control small" id="stat" value="{{p.status}}">
                  </div>
                </div>
                <div class="form-group row justify-content-between">
                  <label for="size" class="col-sm-1 col-form-label small">Size:</label>
                  <div class="col-sm-3 small">
                    <input type="text" class="form-control small" id="size" value="{{p.size}}">
                  </div>
                  <label for="wei" class="col-sm-1 col-form-label small">Weight:</label>
                  <div class="col-sm-3 small">
                    <input type="text" class="form-control small" id="wei" value="{{p.weight}}">
                  </div>
                  <label for="dl" class="col-sm-1 col-form-label small">Deadline:</label>
                  <div class="col-sm-3 small">
                    <input type="text" class="form-control small" id="dl" value="{{p.deadline| date:'fullDate'}}">
                  </div>
                </div>
                <div class="form-group row justify-content-between">
                  <label for="from" class="col-sm-1 col-form-label small">From:</label>
                  <div class="col-sm-3 small">
                    <input type="text" class="form-control small" id="from" value="{{p.from.address}}">
                  </div>
                  <label for="to" class="col-sm-1 col-form-label small">To:</label>
                  <div class="col-sm-3 small">
                    <input type="text" class="form-control small" id="to" value="{{p.to.address}}">
                  </div>
                  <label for="price" class="col-sm-1 col-form-label small">Price:</label>
                  <div class="col-sm-3 small">
                    <input type="text" class="form-control small" id="price" value="{{p.price}}">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div *ngIf="selectedUser.role.toString() === 'TRANSPORTER'">
            <div class="list-group-horizontal-lg" *ngFor="let r of reviews">
              <h2> {{r.customerUsername}} <button type="button" (click)="deleteR(r)" class="btn btn-danger">Delete</button> <button type="button" class="btn btn-primary">Save</button><a *ngFor="let a of [].constructor(r.rating)" class="fas fa-star"></a> </h2>
              <form>
                <div class="form-group row justify-content-between">
                  <div class="col-sm-12 small">
                    <input type="text" class="form-control small" id="review" value="{{r.description}}">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <ng-template #elseBlock6>
      <div *ngIf="tile.text === 'Users list'; else elseBlock">
        <div class="list-group" *ngFor="let user of users">
          <a href="javascript:void(0)" (click)="selectUser(user)" class="list-group-item list-group-item-action d-flex">
            <h3 class="mb-1">{{user.username}}</h3>
          </a>
        </div>
      </div>
      <ng-template #elseBlock>{{tile.text}}</ng-template>
    </ng-template>
    </ng-template>
  </mat-grid-tile>
</mat-grid-list>

</body>
<router-outlet></router-outlet>
